<h4 class='d-flex justify-content-between mb-4'>
    <span>Posts</span>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
</h4>

<% @posts.each do |post| %>
    <%= link_to edit_post_path(post), class: 'text-decoration-none' do %>
    <div class="card mb-3 post-card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <% if post.header_image.present? %>
                        <div class="header-img" style="background-image : url(<%= url_for( post.header_image) %>);">
                        </div>
                    <%end%>
                </div>
                <div class="col-md-9">
                    <% if post.published?%>
                            <span class="badge bg-primary mr-1">
                                Published
                            </span>
                        <% else %>
                            <span class="badge bg-secondary mr-1">
                                Unpublished
                            </span>
                        <% end %>
                    <div class="d-flex justify-content-between">
                        <h5 class = 'card-title mb-1 text-dark'><%= post.title %></h5>
                        <%= button_to 'Delete', post_path(post.id), method: :delete, class:'btn btn-danger',data:{ confirm: "Are you sure?"}%>
                    </div>
                    <p class = 'text-secondary '><%= post.description %></p>
                </div>
            </div>
        </div>
    </div>
    <%end%>
<% end %>
